<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h3>Check weekend's reservations on camping grounds</h3>
            <table class="table">
                <thead>
                    <th>Facility</th>
                    {{range .Days}}
                        <th>{{ . }}</th>
                    {{end}}
                </thead>
                <tbody>
                    {{range .Facilities}}
                    <tr>
                        <td>{{ .Name }}</td>
                        {{range .Availabilities}}
                            <td>{{ .Condition }}</td>
                        {{end}}
                    </tr>
                    {{end}}
                </tbody>
            </table>

        </div>
    </div>
</div>

