<div class="jumbotron">
  <div class="container">

    <h1>{{.Title}}</h1>

    <form class="form-inline" action="/" method="post">
        <input type="text" name="tweet" class="form-control">
        <button type="submit" class="btn">Tweet</button>
    </form>

    <p class="lead">{{.Tweets}}</p>

    <p>{{.Now}}</p>

  </div>
</div>

